.select2-container .select2-selection--single {
    height: 37px;
    padding: 3px;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    line-height: 30px;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    height: 40px;
}

.file-item {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.remove-file-btn {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    cursor: pointer;
}
